.number-buttons {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}
.number {
    background-color: white;
    color: black;
    /* border-top: 1px solid #969696;
    border-right: 1px solid #969696; */
    border: 0.5px solid #969696;
    font-family: 'Courier New', Courier, monospace;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.one, .four, .seven {
    /* border-left: 1px solid #969696; */
}

.zero {
    width: 150px;
    /* border: 1px solid #969696; */
}

.action-buttons {
    width: 52px;
    display: flex;
    flex-direction: column;
}

.clear {
    background-color: white;
    color: black;
    /* border-right: 1px solid #969696;
    border-left: 1px solid #969696; */
    border: 0.5px solid #969696;
    font-family: 'Courier New', Courier, monospace;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.action {
    background-color: orangered;
    color: white;
    /* border-bottom: 1px solid #969696;
    border-right: 1px solid #969696; */
    /* border-left: 1px solid #969696; */
    border: 0.5px solid #969696;
    font-family: 'Courier New', Courier, monospace;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}